<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 페이지</title>
</head>
<body>
    <div class="wrap">
        <div class="login">
            <h2>REGISTER</h2>
            <form method="POST" action="/register">
                USER NAME:<br>
                <input type="text" name="member_name"><br>
                PASSWORD:<br>
                <input type="password" name="password"><br>
                <input type="submit" value="Register">
                <!-- 회원가입에서 사용 <input type="button" value="back" onclick="javascript:location.href='/'"> -->
            </form>
        </div>
    </div>
</body>
</html>